*{
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    cursor: pointer;
}

html{
    font-size: 62.5%;
}


nav {
    display: flex;
    justify-content: start;
    background-color: #fff;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    z-index: 99;
}

ul li{
    float: left;
    padding: 1rem;
    list-style: none;
    font-size: 2rem;
}

.login{
    font-size: 1rem;
    padding: 1rem;
    border-radius: 6rem;
    margin-right: 1rem;
    width: 10vh;
    background-color: #fb8e39;
    color: #fff;
    border: none;
}

.open-account{
    font-size: 1rem;
    padding: 1rem;
    border-radius: 3rem;
    width: 10vh;
    background-color: #fb8e39;
    color: #fff;
    border: none;
}

.hero{
    background-image: url(https://images.pexels.com/photos/34577/pexels-photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100rem;
    height: 100vh;
    position: relative;
    
}

.hero-text{
    position: absolute;
    top: 35vh;
    left: 30%;
    font-size: 3rem;
    color: #fff;
}

.btn-hero{
    background-color: #fb8e39;
    color: #fff;
    border-radius: 7rem;
    padding: 2rem;
    width: 30vh;
    border: none;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.main-card{
    width: 100rem;
    height: 250vh;
    background-color: #e7e7e7;
    position: relative;
}

.main-card-img{
    position: absolute;
    top: 100vh;
    right: 10%;
}

.main-card-text1 h2{
    font-size: 5rem;
    font-weight: bolder;
    padding-bottom: 3rem;
 }

 .main-card-text1 p{
    font-size: 2rem;
    line-height: 4rem;
}

.btn-login {
    background-color: #fb8e39;
    color: #fff;
    border-radius: 7rem;
    padding: 2rem;
    width: 25vh;
    border: none;
    font-size: 1rem;
    margin-top: 2rem;

}

.mid-section{
    width: 100rem;
    height: 370vh;
    background-color: #5d5d60; 
    color: #e7e7e7;
    position: relative;

}

.mid-section h1{
    padding-top: 4rem;
    text-align: left;
    padding-left: 10rem;
    font-size: 5rem;
    font-weight: bolder;
}
.mobile-text{
    position: absolute;
    top: 20vh;
    left: 10%;
    text-align: left;

}
.mobile-text h2{
    font-size: 3rem;
    font-weight: bolder;
    padding-bottom: 3rem;
 
 }

 .mobile-text p{
    font-size: 3rem;
    line-height: 5rem;

}

.mobile-img{
    position: absolute;
    top: 80vh;
    right: 10%;

}

.mobile-img2{
    position: absolute;
    top: 250vh;
    left: 0%;

}

.mobile-text2{
    position: absolute;
    top: 200vh;
    left: 10%;
}

.mobile-text2 h2{
    font-size: 5rem;
    font-weight: bolder;
    padding-bottom: 3rem;
 
 }

 .mobile-text2 p{
    font-size: 3rem;
    line-height: 5rem;

}

.middle-section{
    position: relative;
    height: 300vh;


}

.middle-section h1{
    padding-top: 4rem;
    text-align: center;
    font-size: 5rem;
    font-weight: bolder;
    padding-left: 20rem;

}

.payment-card1{
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2),
                0 0.375rem 1.25rem 0 rgba(0,0,0,0.19);
    width: 50rem;
    height: 50rem;
    text-align: center;
    border-radius: 1rem;
    padding: 4rem;
    margin-top: 10rem;
    position: absolute;
    top: 20vh;
    left: 25%;
}
.payment-card2{
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2),
                0 0.375rem 1.25rem 0 rgba(0,0,0,0.19);
    width: 50rem;
    height: 50rem;
    text-align: center;
    border-radius: 1rem;
    padding: 4rem;
    margin-top: 10rem;
    position: absolute;
    top: 105vh;
    left: 25%;
}
.payment-card3{
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2),
                0 0.375rem 1.25rem 0 rgba(0,0,0,0.19);
    width: 50rem;
    height: 50rem;
    text-align: center;
    border-radius: 1rem;
    padding: 4rem;
    margin-top: 10rem;
    position: absolute;
    top: 190vh;
    left: 25%;
}

.special{
    position: relative;
    height: 550vh;
    width: 100rem;
    background-color: #03294e;
}

.special-card1{
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2),
                0 0.375rem 1.25rem 0 rgba(0,0,0,0.19);
    width: 55rem;
    height: 70rem;
    background-color: #2d669f;
    text-align: center;
    border-radius: 1rem;
    padding: 4rem;
    margin-top: 10rem;
    position: absolute;
    left: 15%;

}
.special-card2{
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2),
                0 0.375rem 1.25rem 0 rgba(0,0,0,0.19);
    width: 55rem;
    height: 70rem;
    background-color: #2d669f;
    text-align: center;
    border-radius: 1rem;
    padding: 4rem;
    margin-top: 10rem;
    position: absolute;
    top: 150vh;
    left: 15%;

}
.special-card3{
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2),
                0 0.375rem 1.25rem 0 rgba(0,0,0,0.19);
    width: 55rem;
    height: 70rem;
    background-color: #2d669f;
    text-align: center;
    border-radius: 1rem;
    padding: 4rem;
    margin-top: 10rem;
    position: absolute;
    top: 270vh;
    left: 15%;

}
.special-card4{
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2),
                0 0.375rem 1.25rem 0 rgba(0,0,0,0.19);
    width: 55rem;
    height: 70rem;
    background-color: #2d669f;
    text-align: center;
    border-radius: 1rem;
    padding: 4rem;
    margin-top: 10rem;
    position: absolute;
    top: 390vh;
    left: 15%;

}

.special h1{
    padding-top: 4rem;
    text-align: center;
    font-size: 5rem;
    font-weight: bolder;
    color: #e7e7e7;

}

.special h2{
    padding-top: 4rem;
    text-align: center;
    font-size: 5rem;
    font-weight: bolder;
    color: #e7e7e7;


}

.bottom-section{
    position: relative;
    height: 200vh;

}

.bottom-section-text{
    position: absolute;
    left: 30%;
}

.bottom-section-form{
    position: absolute;
    top: 100vh;
    height: 70vh;
    width: 85rem;
    left: 0;
    background-color: #03294e;
    padding: 2rem;
    border-radius: 5rem;
    text-align: center;
}


form input{
    width: 100%;
    padding: 2rem;
    border: 0  #063a4f;
    border-radius: 3rem;
    font-size: 1rem;
    font-weight: 500;
    background-color: #124458;
    border: none;
    outline: none;
}

form button{
    width: 80%;
    padding: 2rem;
    border-radius: 3rem;
    font-size: 2rem;
    font-weight: 500;
    background-color: #fff;
    border: none;
    outline: none;
}

footer{
    height: 400vh;
    background-color: rgba(6, 58, 79, .1);
    width: 100rem;

}

.footer-div1{
    position: absolute;
    top: 30vh;
    left: 23%;

}


.footer-div2{
    position: absolute;
    top: 150vh;
    left: 23%;
}


.footer-div3{
    position: absolute;
    top: 250vh;
    left: 23%;
}

.footer-div h2{
    font-size: 7rem;
    font-weight: 500;
    color: #063a4f;
}

.footer-div h3{
    font-size: 3rem;
    font-weight: 300;
    color: #063a4f;
}

.footer-div input{
    width: 50%;
    padding: 2rem;
    border: none;
    outline: none;
    border-radius: 5rem;
    font-size: 2rem;
    background-color: rgba(6, 58, 79, .0588235294);
}